* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.65;
    color: white;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #252526;
}

/* Modal Pop up */
/* CSS untuk modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6e6e6e;
    margin: 15% auto;
    padding: 15px;
    border: 2px solid red;
    width: 30%;
    text-align: center;
    border-radius: 4px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon-warning img {
    width: 48px;
    height: 48px;
}

.grid-line {
    width: 30%;
    height: 5px;
    background-color: white;
    margin: 10px 0;
    border-radius: 30px;
    margin: auto;
}

.grid-line-full {
    width: 100%;
    height: 5px;
    background-color: white;
    margin: 10px 0;
    border-radius: 30px;
}

button {
    border: none;
    cursor: pointer;
}

/* Mengatur navbar */
nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    position: fixed;
    width: 100%;
    align-items: center;
    background-color: #3E3E42;
    z-index: 2;
}

nav .logo img {
    width: 48px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 9px;


}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li {
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

nav ul li:hover {
    transform: scale(1.2);
}

/* Akhir dari navbar */

/* Ukuran Tablet */
@media screen and (max-width: 870px) {
    nav ul {
        width: 40%;
    }

    .our-headquarter {
        font-size: 8px;
    }

    .message-container {
        padding-top: 200px;
        display: flex;
        flex-direction: column;
    }

    .hero {
        max-height: 30vh;
    }

    .our-headquarter h1 {
        text-align: center;

    }




}

/* Ukuran Mobile */
@media screen and (max-width: 577px) {
    .menu-toggle {
        display: flex;
    }

    .our-package {
        margin: 50px auto;
        max-width: 100%;
        color: white;
    }

    .container-satu {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }


    .form-container-text {
        width: 20%;
        padding-left: 0px;
    }


    .form div .input {
        max-width: 100%;
        max-height: 42px;

    }

    .package-country {
        display: flex;
        flex-direction: column;
    }


    .hero {
        max-height: 20vh;
    }

    .hero-text {
        font-size: 12px;
    }

    .profile-headline {
        max-width: 100%;
    }

    .profile {
        flex-direction: column;
    }

    .profile-text {
        text-align: center;
    }

    .headlines {
        padding-bottom: 110vh;
        max-width: 100%;
        margin: 50px auto;
        font-size: 12px;
        text-align: center;
    }


    .message-container {
        max-width: 100%;
        max-height: 20%;
        display: flex;
        justify-content: center;
    }

    .our-headquarter {
        max-width: 100%;
        max-height: 100%;


    }

    .our-headquarter h1 {
        text-align: center;

    }

    .box-photo {
        padding-top: 100px;


    }

}

/* Hero Image */

.hero-container {
    padding-top: 50px;
    width: 100%;
    margin: auto;
    position: relative;
}


.hero {
    height: 578px;
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 1.0s ease-in-out;
    transform: translateX(-100%);
}

.hero.active {
    opacity: 1;
    transform: translateX(0%);
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.0);
}


/* Mengatur Headlines */
.headlines {
    display: flex;
    width: 800px;
    margin: 50px auto;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}


.our-headquarter {
    height: 60%;
    width: 100%;
    /* background-color: aqua; */

}

.our-headquarter h1 {
    padding: 20px 50px
}


.profile {

    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.profile-image {
    margin: 50px;
}

.profile-text {
    text-align: center;
}

.our-headquarter .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
}


/* mengatur main content */
.container-satu {
    display: flex;
    width: 960px;
    height: 800px;
    margin: 20px auto;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

/* Mengatur Box photo */
.box-photo img {
    width: 480px;
    border-radius: 5px;
    flex: 1;
}

/* form contact us*/
.form-container {
    flex: 1;
    background-color: #3e3e42;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container-text {
    width: 100%;
    padding-left: 20px;
}

.form div {
    margin: 10px;
}

.form div .input {
    width: 360px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #252526;
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    background-color: #6e6e6e;
}

.form div textarea.input {
    height: 120px;
    resize: vertical;
}

.form div .input:focus {
    outline: none;
    border-color: #007bff;
    border-width: 3px;
}

.form div .input::placeholder {
    color: rgb(146, 144, 139);

}

.form div .button {
    width: 360px;
    height: 42px;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;

}

.form div .button:hover {
    background-color: #29323D;
}

/* user testimonial */
.testimoni {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 8px;
    padding: 35px 0px;
}

.testimoni img {
    width: 40px;
    margin-right: 20px;
    justify-content: center;
}

.text {
    font-style: italic;
}

.information {
    padding: 20px 0px;
}

.box-container {
    display: flex;
    flex-direction: row;

}



/* Feature */
.feature {
    padding-top: 10px;
    display: flex;
}

.feature .icon {
    padding: 0px 30px 40px;
}

.circle {
    background: #e3e3e3;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #6e6e6e;
    display: inline-block;
    font-weight: bold;
    line-height: 48px;
    margin-right: 5px;
    text-align: center;
    width: 48px;
    justify-content: center;
}

/* Fisrt Feature */

/* Our Package */
.our-package {
    margin: 50px auto;
    width: 960px;
    display: flex;
    justify-content: center;
    background-color: #3e3e42;
    padding: 20px;
    margin-top: 350px;
    color: white;
}

/* package country */
.package-country {
    width: 960px;
    margin: 50px auto;
    display: flex;
}


.country {
    display: flex;
    justify-content: center;
    width: 480px;
    height: 200px;
}

.country img {
    margin: 20px;
    width: 48px;
}


.call-action {
    margin-top: 80px;
    margin-bottom: 80px;
}

.call-action .headlines {
    width: 960px;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.call-action .headlines button {
    margin-top: 40px;
    width: 400px;
    height: 60px;
    border-radius: 4px;
    background-color: #007acc;
    font-size: 18px;
    color: white;
}